.st0 {
  fill: #FFFFFF;
  stroke: #010101;
  stroke-miterlimit: 10;
}

.st1 {
  fill: #BFC0C2;
  stroke: #010101;
  stroke-miterlimit: 10;
}

.st2 {
  fill: white;
  stroke: #010101;
  stroke-miterlimit: 10;
}

.room:hover {
  fill: blue;
}

.room {
  fill: #f4cb42;
  stroke: #000000;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.room_selected:hover {
  fill: grey;
}

.room_selected {
  fill: #47ff09;
  stroke: #000000;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.room_booked:hover {
  fill: #dc00ff;
}

.room_booked {
  fill: red;
  stroke: #000000;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.st3 {
  fill: #010101;
}

.map-font {
  font-family: 'BPG Glaho';
  src: url(../../fonts/bpg_glaho.ttf);
}

.st5 {
  font-size: 17pt;
}

.st7 {
  font-size: 17pt;
}

.passage {
  fill: #58595B;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.cafeteria {
  fill: #4286F4;
  stroke: #000000;
  stroke-miterlimit: 10;
}
