@CHARSET "UTF-8";
.mapdivision {
    background-color: grey;
    border-color: black;
    border-radius: 20px;
}

@font-face {
    font-family: bpg_arial;
    src: url(../../fonts/bpg_arial_2009.ttf);
}

body {
    background-color: lightgreen;
    font-family: bpg_arial;
}

#full-table {
    height: 100%;
    width: 100%;
}

#left-td {
    width: 30%;
}

#search-form {
    width: 100%;
}

#right-td {
    width: 85%;
}

#right-div {
    overflow-y: scroll;
    height: 100%;
}

td, tr {
    text-align: center;
    align-items: center;
}

#room-id-div {
    font-size: 25px;
}

#room-info-div {
    font-size: 17px;
    align-items: center;
}

#yes-span {
    padding-right: 5px;
    color: #009900;
}

#no-span {
    color: #cc0000;
    padding-right: 5px;
}

.popup-div {
    display: unset;
    z-index: 1;
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: yellow;
}

.smaller-lab {
  font-size: 13px;
}

#floors {
    margin-bottom: 10px;
    paddin-bottom: 5px;
    height: 25px;
}

#par {
    font-family: serif;
    margin-bottom: -2px;
}

.control-label {
    font-family: bpg_arial;
    font-size: initial;
}

.form-control {
    font-family: bpg_arial;
}

#full-table td{
    padding-left: 10px;
    padding-right: 10px;
}
#full-table td:first-child{
    padding-right: 0px;
}


