@CHARSET "UTF-8";

#full-table {
  height: 100%;
  width: 100%;
}

#left-td {
  width: 30%;
}

#search-form {
  width: 100%;
}

#right-td {
  width: 85%;
}

#right-div {
  overflow-y: scroll;
  height: 100%;
}

td, tr {
  text-align: center;
  align-items: center;
}

#room-id-div {
  font-size: 25px;
}

#room-info-div {
  font-size: 17px;
  align-items: center;
}

#yes-span {
  padding-right: 5px;
  color: #009900;
}

#no-span {
  color: #cc0000;
  padding-right: 5px;
}