@CHARSET "UTF-8";

.dragDrop {
  padding: 10px;
  border: 1px solid #cccccc;
}

.dragFile {
  padding: 5px;
  border: 1px dashed;
}

@font-face {
  font-family: bpg_arial;
  src: url(../../fonts/bpg_arial_2009.ttf);
}

body {
  /*background-color: #AED6F1;*/
  background-color: ghostwhite;
  background-image: linear-gradient(90deg, transparent 79px, #abced4 81px, #abced4 81px, transparent 81px),
  linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;

  font-family: bpg_arial;
}

#main-div {
  align-items: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.main-button {
  background-color: silver;
  text-align: center;
  padding: 20px 35px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  width: 300px;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
}

button:hover {
  background-color: grey;
}

.info-label {
  font-size: 20px;
}

.form-mid {
  position: relative;
}

.form-left {
  position: relative;
  float: left;
  margin-bot: 5px;

  border-radius: 6px;
}

.form-right {
  position: relative;
  float: right;
  margin-bot: 5px;
  padding-bot: 5px;

  border-radius: 6px;
}

#datepairExample {
  position: relative;
  padding-bottom: 7px;
}

#start_t {
  border-radius: 6px;
}

#end_t {
  border-radius: 6px;
}

#start_d {
  border-radius: 6px !important;
}

#end_d {
  border-radius: 6px !important;
}

#back-to-main {
  content: url(../../img/bigLogo.png);
  position: absolute;
  right: 10px;
  top: 10px;
  height: 80px;
  width: 90px;
}

#tick {
  position: relative;
  left: 20%;
  top: 36px;
  height: 50px;
  width: 50px;

  display: none;
}

#w8gif {
  position: relative;
  left: 20%;
  top: 36px;
  height: 50px;
  width: 50px;

  display: none;
}

#fail {
  position: relative;
  left: 20%;
  top: 36px;
  height: 50px;
  width: 50px;

  display: none;
}






