@CHARSET "UTF-8";

body {
  background-color: #AED6F1;  
}

#main-div {
  align-items: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.main-button {
  background-color: #58D68D;
  text-align: center;
  padding: 20px 35px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  width: 300px;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
}

button:hover {
  background-color: #229954;
}

#schedule {
  width: 500px;
}

#add-room-div {
  width: 500px;
}

#remove-room-div {
  width: 500px;
}

#add-subj-div {
  width: 500px;
}

.info-label {
  font-size: 20px;
}
